:root {
	--darknest-color: #2c2c2c;
	--dark-color: #464646;
	--light-dark-color: #808080;
	--text-color: white;
	--button-color: purple;

	--opacity: 0.5;
	--opacity-transition: opacity 0.15s ease;
	--filter-brightness: brightness(0.5);
	--filter-transition: filter 0.15s ease;

	--border-darknest: 5px solid #000000;
	--border-light-dark: 5px solid #111111;

	--font-family: Handjet;
}

html, body {
	height: 100%;
	margin: 0;
	color: white;
	font-family: var(--font-family);
	font-size: 35px;
}

img {
	image-rendering: pixelated;
}

.wrapper {
	background-color: lightblue;

	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: relative;
}

#hiddenPanel {
	position: fixed;
	z-index: 1;

	width: 100%;
	height: 100%;
	transform: translateX(-90%);
	background-color: red;

	transition: transform 0.5s ease;
}

#hiddenPanel:active {
	transform: translateX(0);
}

header {
	background-color: var(--darknest-color);
	padding: 5px 25px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	border-bottom: var(--border-darknest);
}

.menu-container {
	flex: 1;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.menu {
	width: 96px;

	transition: var(--opacity-transition);
}

.menu:active {
	opacity: var(--opacity);
}

.logo-container {
	flex: 1;

	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 384px;

	transition: var(--opacity-transition);
}

.logo:active {
	opacity: var(--opacity);
}

.account-container {
	flex: 1;

	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.account {
	height: 96px;
	width: 96px;
	border-radius: 48px;
	background-color: white;
}

main {
	flex: 1;

	background-color: var(--dark-color);

	display: flex;
	justify-content: center;
}

.main-section {
	flex: 1;

	background-color: var(--light-dark-color);
	margin: 0 13%;
	padding: 25px 25px 10px 25px;
	border-left: var(--border-light-dark);
	border-right: var(--border-light-dark);
}

.main-section p {
	font-size: 45px;
	text-indent: 45px;
	text-align: justify;
	margin: 10px 0 10px 0;
}

.create-a-story-container {
	display: flex;
	justify-content: center;
}

.button-create-a-story {
	font-family: var(--font-family);
	color: var(--text-color);
	border: 5px solid darkviolet;
	border-radius: 25px;
	background-color: var(--button-color);
	font-size: 75px;
	padding: 5px 25px;

	transition: var(--filter-transition);
}

.button-create-a-story:active {
	filter: var(--filter-brightness)
}

footer {
	background-color: var(--darknest-color);
	padding: 10px;
	border-top: var(--border-darknest);

	display: flex;
	justify-content: center;
}

footer p {
	margin: 0;
}