@import 'variables.css';

main {
	transition: margin 1s ease;
}

.page-title {
	text-align: center;
}

.d {
	background-color: var(--dark-color);
	margin: 2px 0;
}

.message-recipient {
	background-color: pink;
	padding: 5px;

	display: flex;
	flex-direction: row;
}

.message-sender {
	background-color: lightblue;
	padding: 5px;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.message-avatar-recipient {
	margin-right: 3vw;

	display: flex;
	justify-content: center;
	align-items: center;
}

.message-avatar-sender {
	margin-left: 3vw;
}

.message-content {
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.message-content p {
	text-align: justify;
}

.message-content input, textarea {
	width: 100%;
}